@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap");

* {
  font-family: "Fredoka", sans-serif;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#title {
  display: block;
  position: absolute;
  top: 0;
  left: 50vw;
  transform: translateX(-50%);
  text-align: center;
  padding: 25px 40px;
  margin: 50px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 40pt;
  color: white;
  background: #8684f2;
}

#instruments {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
}

.instrument-img {
  padding: 0 50px;
  transform: scale(1);
  border-radius: 50px;
  cursor: pointer;
}

#back {
  height: 80px;
}

#back-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  background: #8684f2;
  cursor: pointer;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 120px;
  height: 120px;
}

.btn:hover {
  transform: scale(1.2);
  transition: all 0.25s;
}

/* #video {
  position: absolute;
  top: 0;
  height: 100vh;
  z-index: -1;
  left: 50vw;
  transform: translateX(-50%);
} */

#video {
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -1;
  top: 50vh;
  transform: translateY(-50%);
}
