@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap");

body {
  width: 100vw !important;
  height: 100vh !important;
  margin-left: 0px !important;
}

a-scene {
  width: 100vw !important;
  height: calc(100vw / 1.333) !important;
  top: 50vh;
  transform: translateY(-50%);
}

/* a-marker {
  width: 100% !important;
  height: 100% !important;
} */

* {
  font-family: "Fredoka", sans-serif;
  margin: 0;
}

#nav {
  display: flex;
  justify-content: center;
  padding: 50px;
}

#title {
  display: block;
  padding: 25px 40px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 40pt;
  color: white;
  background: #8684f2;
}

#instruments {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
}

.instrument-img {
  margin: 0 50px;
  transform: scale(1);
  border-radius: 50px;
  cursor: pointer;
  height: 250px;
}

#back {
  height: 70px;
}

#back-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  background: #8684f2;
  cursor: pointer;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 120px;
  height: 120px;
}

.btn:hover {
  transform: scale(1.2);
  transition: all 0.25s;
}
.instrument-hover {
  transform: scale(1.2);
  transition: all 0.25s;
}

/* #video {
  position: absolute;
  top: 0;
  height: 100vh;
  z-index: -1;
  left: 50vw;
  transform: translateX(-50%);
} */

#video,
#hand-canvas {
  position: absolute;
  top: 0;
  width: 100vw;
  top: 50vh;
  transform: translateY(-50%);
}
#video {
  z-index: -1;
}

#arjs-video {
  display: none;
}
